
@media screen and (max-width:1399px) {

}


@media screen and (max-width:1199px) {
    .banner_wrap {
        padding-left: 0;
        padding: 0 0.9375rem;
    }


}


@media screen and (max-width: 1024px) {
    html {
        font-size: 15px;
    }
    .banner {
        background-position: center;
    }
    .banner {
        height: 40.875rem;
    }
    .news-title {
        font-size: 1.3rem;
    }
}

@media (max-width: 991px) {
    .navigation-menu {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        padding: 50px;
        background-color: #000;
        transform: translateX(100%);
        transition: all 0.3s linear;
        z-index: 100;
        color: #fff;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
    }

    .menuToggle .navigation-menu {
        transform: translateX(0);
        justify-content: flex-start;
    }

    .navigation-menu ul {
        flex-direction: column;

    }

    .menu-toggle-btn {
        display: block;
    }

    .menu-close-btn {
        position: absolute;
        top: 20px;
        right: 20px;
        display: block;
        text-align: end;
        z-index: 55;
        font-size: 21px;
        height: 2.5rem;
        width: 2.5rem;
    }
    .news-form-info, .news-form-box {
        min-height: unset;
    }
    .events_cards .row {
        padding: 0 1rem;
    }
    .events_cards_content {
        padding: 1.5rem  0 0 0;
    }
    .events_outer_image {
        height: 21.875rem;
    }
    .banner_content h1 {
        font-size: 3rem;
    }
    .latest_slides h2 {
        font-size: 1.5rem;
    }

    .news-desc {
        font-size: 1rem;
    }
    .teams_info h3 {
        font-size: 1.5rem;
    }
}

@media (max-width: 767px) {
    html {
        font-size: 14px;
    }

    .banner {
        height: 32.875rem;
    }
    .section_heading {
        font-size: 2.5rem;
    }
    .home_latest_event .slick-list.draggable {
        height: 35.75rem;
    }
    .home_card_txt h3 {
        font-size: 1.4rem;
        line-height: 1.3;
    }
    .home_card_img_outer {
        height: 20.75rem;
    }
    .py-6 {
        padding: 2.75rem 0;
    }
    .after_banner_content p {
        font-size: 1.2rem;
    }
    .teams_info h3 {
        font-size: 1.4rem;
    }
    .events_desc {
        font-weight: 500;
    }
}




@media screen and (max-width:575px) {

    .banner_content h1 {
        font-size: 2.5rem;
    }
    .banner_content p {
        font-size: 1rem;
    }
    .banner  h3 {
        line-height: 1.4;
        font-size: 1.3rem;
    }
    .banner {
        height: 35.875rem;
    }
    .pt-5 {
        padding-top: 2rem!important;
    }

    .home_latest_event .latest_slides {
        padding: 0 0 1.125rem 0;
    }
    .home_latest_event .slick-prev svg, .home_latest_event .slick-next svg {
        width: 3rem;
        height: 3rem;
    }
    .home_latest_event .slick-list.draggable {
        height: 30.75rem;
    }
    .footer_logo {
        width: 16.75rem;
    }
    .sub_banner {
        height: 30.875rem;
    }
    .sub_banner_content h1 {
        font-size: 2.2rem;
    }
    .sub_banner_content h4 {
        line-height: 1.4;
        font-size: 1.2rem;
    }
    .after_banner_content p {
        font-size: 1.1rem;
    }
    .footer_logo {
        width: 15.75rem;
    }
    .events_outer_image {
        height: 18.875rem;
    }
    .py-5 {
        padding-top: 2rem!important;
        padding-bottom: 2rem!important;
    }
}

@media screen and (max-width:480px) {
    .brand-container a, .footer-logo a {
        width: 12.75rem;
    }
    .menu-toggle-btn ,  .menu-close-btn{
        width: 2rem;
        height: 2rem;
    }
    .banner_content h1 {
        font-size: 2rem;
    }
    .banner  h3 {
        font-size: 1.1rem;
    }
    .section_heading {
        font-size: 2rem;
    }
    .home_latest_event .slick-list.draggable {
        height: 25.75rem;
    }
    .latest_slides h2 {
        padding: 1.125rem;
        font-size: 1.1rem;
    }
    .footer_logo {
        width: 14.75rem;
    }
    .sub_banner {
        height: 25.875rem;
    }
    .sub_banner_content h4 {
        font-size: 1.1rem;
    }
    .news-title {
        font-size: 1.3rem;
    }
    .after_banner_content p {
        font-size: 1rem;
    }
    .events_outer_image {
        height: 16.875rem;
    }
    .guides_content h5 {
        font-size: 1.1rem;
    }
    .footer-pages-content-grp h3 {
        font-size: 1.4rem;
    }
}