
@media screen and (max-width:1399px) {

}


@media screen and (max-width:1199px) {



}


@media screen and (max-width: 1024px) {
    html {
        font-size: 15px;
    }


}

@media (max-width: 991px) {
    .navigation-menu {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        padding: 50px;
        background-color: #000;
        transform: translateX(100%);
        transition: all 0.3s linear;
        z-index: 100;
        color: #fff;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
    }

    .menuToggle .navigation-menu {
        transform: translateX(0);
        justify-content: flex-start;
    }

    .navigation-menu ul {
        flex-direction: column;

    }

    .menu-toggle-btn {
        display: block;
    }

    .menu-close-btn {
        position: absolute;
        top: 20px;
        right: 20px;
        display: block;
        text-align: end;
        z-index: 55;
        font-size: 21px;
        height: 2.5rem;
        width: 2.5rem;
    }
    .news-form-info, .news-form-box {
        min-height: unset;
    }
}

@media (max-width: 767px) {
    html {
        font-size: 14px;
    }

}




@media screen and (max-width:575px) {


}

@media screen and (max-width:480px) {
    .brand-container a, .footer-logo a {
        width: 12.75rem;
    }
    .menu-toggle-btn ,  .menu-close-btn{
        width: 2rem;
        height: 2rem;
    }


}